<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/3.8/js/dojo/dijit/themes/claro/claro.css"/>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/3.8/js/esri/css/esri.css"/>
    
    <link href="../../css/index.css" rel="stylesheet" media="screen"/>
    <link href="../../css/suds.css" rel="stylesheet" media="screen"/>
    <script src="../../nrmcore/jquery/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../../nrmcore/bootstrap/js/bootstrap.min.js"></script>
    <script src="../jquery.easing.1.3.js"></script>
    <title>Contact Management</title>
</head>

<body>

<div class="ui-layout-center ui-layout-container">
    <div class="ui-layout-center ui-layout-data ui-layout-pane ui-layout-pane-center" id="app">
        
        <div class="container suds-container" :class="{'static-load': pageReady}">
            <div class="nrm-edit-form">
                <div id="renderView">
                    <div class="contactManager">
                        <div class="contactsTab contactManagerTitle">
                            Contact Management
                        </div>
                        <div class="contactManagerBody">
                            <div class="tabHeadingRow">
                                <div class="contactsTab flushLeft active">
                                    New Contact - PERSON
                                </div>
                            </div>
                            <div class="contactContentSection">
                                <div class="contactBreadCrumbs">
                                    <a href="index.html">Search</a>
                                    <a href="contactType.html">Contact Type</a>
                                    <a href="contactPerson.html">Person</a>
                                </div>
                                <form v-on:submit="submitSearch" v-on:reset="returnSearch=false">
                                    <fieldset class="fs-horizontal">
                                        <div class="inputContainer vert">
                                            <label for="firstName">First Name</label>
                                            <input type="text" name="firstName" id="firstName"
                                                class="suds-input form-control" placeholder="first name"/>
                                        </div>
                                        <div class="inputContainer vert notReq">
                                            <label for="mi">M.I.</label>
                                            <input type="text" name="mi" id="mi" class="suds-input form-control"
                                                size="1" maxlength="1"/>
                                        </div>
                                        <div class="inputContainer vert">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" name="lastName" id="lastName"
                                                class="suds-input form-control" placeholder="last name"/>
                                        </div>
                                        <div class="inputContainer vert notReq">
                                            <label for="suffix">Suffix</label>
                                            <select name="suffix" id="suffix" class="suds-select form-control">
                                                <option value="">Select Suffix</option>
                                                <option value="">Ms</option>
                                                <option value="">Mrs</option>
                                                <option value="">Mr</option>
                                                <option value="">Dr</option>
                                                <option value="">Phd</option>
                                                <option value="">Jr</option>
                                                <option value="">Esq</option>
                                            </select>
                                        </div>
                                        <div class="inputContainer vert">
                                            <label for="email">Email Address</label>
                                            <input type="text" name="email" id="email" class="suds-input form-control"
                                                placeholder="email@email.com"/>
                                        </div>
                                        <div class="inputContainer vert fullWidth notReq">
                                            <label for="url">URL</label>
                                            <input type="text" name="url" id="url" class="suds-input form-control"
                                                placeholder="http://www.url.net"/>
                                        </div>
                                    </fieldset>
    
                                    <fieldset class="phone">
        
                                        <div class="phoneNumbers" v-if="phoneNumbers.length > 0">
                                            <div class="dataPointPill addedPhoneNumber"
                                                v-for="(number, index) in phoneNumbers">
                                                <div class="dataPointIcon dataPointIcon_phone"></div>
                                                <div class="dataPointType">
                                                    {{number.type}}
                                                </div>
                                                <div class="dataPoint">
                                                    <span class="intlCode"
                                                        v-if="number.intlCode">+{{number.intlCode}}&nbsp;</span>
                                                    <span class="areaCode"
                                                        v-if="number.areaCode">({{number.areaCode}})&nbsp;</span>
                                                    {{number.number}}
                                                    <span class="extension"
                                                        v-if="number.ext">&nbsp;xt.{{number.ext}}</span>
                                                </div>
                                                <div class="dataPointControls">
                    
                                                    <button class="btn btn-suds removeBtn"
                                                        @click="removePhoneNumber(index)">
                                                        <i class="fa fa-times"></i>
                                                        <span>Remove</span>
                                                    </button>
                                                    <button class="btn btn-suds suds-primary"
                                                        @click="editPhoneNumber(index)">
                                                        <i class="fa fa-pencil"></i>
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="form-group horz">
                                            <div class="inputContainer vert">
                                                <label for="type">Type</label>
                                                <select name="type" id="type" class="suds-select form-control"
                                                    v-model="phoneNumber.type" @change="validatePhone">
                                                    <option value="">Select Type</option>
                                                    <option value="mobile">mobile</option>
                                                    <option value="home">home</option>
                                                    <option value="work">work</option>
                                                </select>
                                            </div>
                                            <div class="inputContainer vert notReq">
                                                <label for="intlCode">Int'l Code</label>
                                                <input type="text" name="intlCode" id="intlCode"
                                                    class="suds-input form-control" maxlengt="3" size="3"
                                                    placeholder="011" v-model="phoneNumber.intlCode"/>
                                            </div>
                                            <div class="inputContainer vert">
                                                <label for="areaCode">Area Code</label>
                                                <input type="text" name="areaCode" id="areaCode"
                                                    class="suds-input form-control" maxlengt="3" size="3"
                                                    placeholder="303" v-model="phoneNumber.areaCode"/>
                                            </div>
                                            <div class="inputContainer vert">
                                                <label for="phoneNumber">Phone Number</label>
                                                <input type="text" name="phoneNumber" id="phoneNumber"
                                                    class="suds-input form-control" placeholder="555-555-5555"
                                                    v-model="phoneNumber.number" @change="validatePhone"/>
                                            </div>
                                            <div class="inputContainer vert notReq">
                                                <label for="ext">Extension</label>
                                                <input type="text" name="ext" id="ext" class="suds-input form-control"
                                                    size="6" maxlength="6" placeholder="55555"
                                                    v-model="phoneNumber.ext"/>
                                            </div>
                                            <div class="inputContainer  notReq">
                                                <label for="">&nbsp;</label>
                                                <button class="btn btn-suds btn-sm suds-primary"
                                                    :disabled="!phoneNumberValid" @click="addPhoneNumber">
                                                    <i class="fa fa-plus" v-if="!phoneEditMode"></i>
                                                    <i class="fa fa-floppy-o" v-if="phoneEditMode"></i>
                                                    <span v-if="!phoneEditMode">Add</span><span
                                                    v-if="phoneEditMode">Update</span> Phone Number
                                                </button>
                                            </div>
                                        </div>
    
                                    </fieldset>
    
                                    <!--Address block-->
                                    <fieldset class="address">
                                        <div class="addresses" v-if="addresses.length > 0">
                                            <div class="dataPointPill " v-for="(address, index) in addresses">
                                                <div class="dataPointIcon dataPointIcon_addr"></div>
                                                <div class="dataPointType">
                                                    <span v-if="address.type !== 'Other'">{{address.type}}</span><span
                                                    v-if="address.type === 'Other'">{{address.otherType}}</span>
                                                </div>
                                                <div class="dataPoint">
                                                    <div class="streetAddress">
                                                        <div class="addr1" v-if="address.addr1">{{address.addr1}}</div>
                                                        <div class="addr2" v-if="address.addr2">{{address.addr2}}</div>
                                                    </div>
                                                    <div class="cityState">
                                                        <div class="locale">
                                                            {{address.city}},{{address.state}}
                                                        </div>
                                                        <div class="postalCode">
                                                            {{address.postalCode}}
                                                        </div>
                                                    </div>
                                                    <div class="deptContact" v-if="address.dept">
                                                        <div class="dept">{{address.dept}}</div>
                                                        <div class="contact"
                                                            v-if="address.billingContactFirstName || address.billingContactLastName">{{address.billingContactFirstName}} {{address.billingContactLastName}}
                                                        </div>
                                                    </div>
                
                
                                                </div>
                                                <div class="dataPointControls">
                    
                                                    <button class="btn btn-suds removeBtn"
                                                        @click="removeAddress(index)">
                                                        <i class="fa fa-times"></i>
                                                        <span>Remove</span>
                                                    </button>
                                                    <button class="btn btn-suds suds-primary"
                                                        @click="editAddress(index)">
                                                        <i class="fa fa-pencil"></i>
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="form-group">
                                            <div class="inputContainer">
                                                <label for="addressType">Address Type</label>
                                                <select name="addressType" id="addressType"
                                                    class="suds-select form-control" v-model="address.type"
                                                    @change="validateAddress">
                                                    <option value="">Select Address Type</option>
                                                    <option value="billing">Billing</option>
                                                    <option value="HQ">Headquarters</option>
                                                    <option value="Local Office">Local Office</option>
                                                    <option value="Operations">Operations</option>
                                                    <option value="Work">Work</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="inputContainer notReq" v-if="address.type === 'Other'">
                                                <label for="other">Other Address Type</label>
                                                <input type="text" name="other" id="other"
                                                    class="suds-input form-control" v-model="address.otherType"
                                                    placeholder="Other Address Type">
                                            </div>
                                            <div class="inputContainer notReq">
                                                <label for="dept">
                                                    Department Name
                                                </label>
                                                <input type="text" name="dept" id="dept" class="suds-input form-control"
                                                    placeholder="department" v-model="address.dept"/>
                                            </div>
                                        </div>
        
                                        <div class="form-group" v-if="address.type === 'billing'">
                                            <div class="inputContainer notReq">
                                                <label for="billingContactFirstName">Billing Contact First Name</label>
                                                <input type="text" name="billingContactFirstName"
                                                    id="billingContactFirstName" class="suds-input form-control"
                                                    placeholder="first name" v-model="address.billingContactFirstName">
                                            </div>
                                            <div class="inputContainer notReq">
                                                <label for="billingContactLastName">
                                                    Billing Contact Last Name
                                                </label>
                                                <input type="text" name="billingContactLastName"
                                                    id="billingContactLastName" class="suds-input form-control"
                                                    placeholder="last name" v-model="address.billingContactLastName"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="inputContainer">
                                                <label for="country">
                                                    Country
                                                </label>
                                                <!--<input type="text" name="country" id="country" class="suds-input">-->
                                                <select name="country" id="country" class="suds-select form-control"
                                                    v-model="address.country">
                                                    <option value="">Select Country</option>
                                                    <option value="us">United States of America</option>
                                                    <option value="wk">Wakanda</option>
                                                    <option value="sk">Sokovia</option>
                                                    <option value="lt">Latveria</option>
                                                    <option value="gn">Genosha</option>
                                                    <option value="md">Madripoor</option>
                                                    <option value="ng">Niganda</option>
                                                </select>
                                            </div>
                                            <div class="inputContainer postalCode">
                                                <label for="postalCode">
                                                    Postal Code
                                                </label>
                                                <input type="text" name="postalCode" id="postalCode"
                                                    class="suds-input form-control" placeholder="enter postal code"
                                                    v-model="address.postalCode" @change="setCityState">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="inputContainer">
                                                <label for="address1">Address 1</label>
                                                <input type="text" name="address1" id="address1"
                                                    class="suds-input form-control" placeholder="address1"
                                                    v-model="address.addr1" @change="validateAddress">
                                            </div>
    
                                            <div class="inputContainer notReq">
                                                <label for="address2">Address 2</label>
                                                <input type="text" name="address2" id="address2"
                                                    class="suds-input form-control" placeholder="address2"
                                                    v-model="address.addr2">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="inputContainer">
                                                <label for="city">
                                                    City
                                                </label>
                                                <input type="text" name="city" id="city" class="suds-input form-control"
                                                    placeholder="city" v-model="address.city"/>
                                            </div>
                                            <div class="inputContainer">
                                                <label for="state">
                                                    State
                                                </label>
                                                <!--<input type="text" name="state" id="state" class="suds-input">-->
                                                <select name="state" id="state" class="suds-select form-control"
                                                    v-model="address.state">
                                                    <option value="">Select State</option>
                                                    <option value="CO">Colorado</option>
                                                </select>
                                            </div>
        
                                        </div>
                                        <div class="form-group">
                                            <div class="inputContainer formControls notReq">
                                                <label for="">&nbsp;</label>
                                                <button class="btn btn-suds btn-sm suds-primary"
                                                    :disabled="!addressValid" @click="addAddress">
                                                    <i class="fa fa-plus" v-if="!addressEditMode"></i>
                                                    <i class="fa fa-floppy-o" v-if="addressEditMode"></i>
                                                    <span v-if="!addressEditMode">Add</span><span
                                                    v-if="addressEditMode">Update</span> Address
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="comments">
                                        <div class="inputContainer vert fullWidth notReq">
                                            <label for="comments">Comments</label>
                                            <textarea name="comments" id="comments" class="suds-textarea form-control"
                                                placeholder="Comments" rows="12"></textarea>
                                        </div>
                                    </fieldset>
                                    <div class="inputContainer formControls horz">
                                        <button class="btn btn-suds btn-sm suds-primary" type="submit"
                                            :disabled="!formIsValid">
                                            <i class="fa fa-floppy-o"></i>
                                            Save Contact
                                        </button>
                                        <button class="btn btn-suds btn-sm suds-default" type="reset">
                                            <i class="fa fa-refresh"></i>
                                            Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/contacts.js"></script>

</body>

</html>