/* Coolors Exported Palette - coolors.co/05668d-427aa1-ebf2fa-679436-a5be00 */


/* RGB */

//$primary-color-one: rgba(146,175,202,1); // #92afca Ciel $eerie-black;
//$primary-color-one-text: rgba(28, 28, 28, 1);  // #1C1C1C Eerie Black
//
//$primary-color-two: rgba(17,79,140, 1); // #114F8C Yale Blue #fff
//$primary-color-two-text: #fff;
//
//$primary-color-three: rgba(48,64,104,1); // #304368 Deep Koamaru     #fff
//$primary-color-three-text: #fff;
//
//$primary-color-four: rgba(10,44,77,1); // 0a2c4d Prussian Blue     #fff
//$primary-color-four-text: #fff;
//
//$anti-flash-white: #ebf2fa;
//
//$primary-highlight: rgba(65,117,5,1); // #417505 darkolivegreen
//$primary-highlight-text: rgba(255,255,255,1); // #fff
//
//$controlHighLight: rgba(230, 57, 70, 1); // #E63946 Desire
//$control-highlight-text-color: #fff;
//
//$white: rgba(255, 255, 255, 1); // #FFFFFF white
//
//$gray: rgba(211,208,203, 1); // #d3d0cb lightgray
//
//$eerie-black: rgba(28, 28, 28, 1); // #1C1C1C Eerie Black
$primary-color-one: #7FDBFF;
$primary-color-one-text: #111;
//$primary-color-two: #0074D9;
$primary-color-two: #4a90e2;
$primary-color-two-text: #fff;
$primary-color-three: #001f3f;
$primary-color-three-text: #7fdbff;
$primary-color-four: rgba(10, 44, 77, 1); // 0a2c4d Prussian Blue     #fff
$primary-color-four-text: #fff;
$primary-color-five: #cedef1;
$primary-color-five-text: #111;
$anti-flash-white: #ebf2fa;
$primary-highlight: #2ecc40; // #417505 darkolivegreen
$primary-highlight-text: #111;
$primary-highlight-hover: #3d9970; // #417505 darkolivegreen
$primary-highlight-hover-text: #fff; // #fff
// Nominal / Green
//$nominal-suds:   #2ecc40;
$nominal-suds: #93c859;
$nominal-suds-text: #111;
// Danger / Red
$danger-suds: #d0021b;
$danger-suds-text: #111111;
$danger-suds-hover: #740a00;
$danger-suds-hover-text: #fff;
// Warning / Orange
$warning-suds: #f5a623;
$warning-suds-text: #111111;
$warning-suds-hover: darken($warning-suds, 2);
$warning-suds-hover-text: #fff;
// Grays

$gray1: #dddddd;
$gray1-text: #0074D9;
$gray2: #AAAAAA;
$gray2-text: #111111;
$gray3: #F5F5F5;
$gray3-text: #001f3f;
$gray4: #cccccc;
$gray5: #c7c7c7;
// Black & White
$white: #ffffff;
$eerie-black: #111111; // #1C1C1C Eerie Black