.card {
    border-radius: 20px;
    padding: 2em;
    position: relative;
    overflow: hidden;
    .cardIcon {
        margin: -2em -2em 1em -2em;
    }
    &:hover {
        cursor: pointer;
    }
}

.definitions {
    display: flex;
    dl {
        display: inline-block;
        margin: .5em;
        border-radius: 15px;
        background-color: $gray3;
        padding: 5px;
        border: 1px solid $gray1;
    }
    dt {
        padding: .75em 1em .75em;
        line-height: 1;
        border-radius: 10px;
        background-color: $primary-color-two;
        color: $primary-color-two-text;
        position: relative;
        svg {
            path.cls-1 {
                fill: $gray3;
            }
        }
    }
    dd {
        padding: .75em 1em;
        line-height: 1.2;
        color: $gray3-text;
        border-bottom: 1px solid $gray1;
        font-weight: 600;
        &:last-child {
            border-bottom: 0;
        }
    }
}

.tableContainer {
    border: 1px solid $gray1;
    border-radius: 15px;
    overflow: hidden;
    table.table {
        margin-bottom: 0 !important;
    }
    thead {
        th {
            background-color: $primary-color-one;
            &:first-child {
                padding-left: 1em;
            }
            &:last-child {
                padding-right: 1em;
            }
        }
    }
    tbody {
        td {
            &:first-child {
                padding-left: 1em;
            }
            &:last-child {
                padding-right: 1em;
            }
        }
    }
}

$table-corner-radius: 10px;
.suds-table {
  thead {
    tr {

      th {
        border-bottom: 0;
        background-color: $primary-color-one;
        color: $primary-color-one-text;

        &:first-child {
          border-top-left-radius: $table-corner-radius;
          padding-left: 10px;
        }

        &:last-child {
          border-top-right-radius: $table-corner-radius;
        }
      }
    }
  }

  tbody {
    tr {
      td:first-child {
        padding-left: 10px;
      }
    }
    tr:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: $table-corner-radius;
        }
        &:last-child {
          border-bottom-right-radius: $table-corner-radius;
        }
      }
    }
  }
}


.sudsPill {
  display: inline-flex;
  width: auto;
  margin: 0 10px;

  .sudsPillMessage {
    background-color: $gray1;
    color: $gray1_text;
    border-radius: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //box-shadow: inset 0 2px 3px 1px rgba(255,255,255,0.8), 0 2px 5px 1px rgba(0,0,0,0.2);
    padding: 0 5px;
    border: 1px solid $gray1;
    margin: 0 auto;
  }

.sudsPillIcon {
    padding: 10px;
    padding-left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray1-text;
    border-radius: 30px;
    font-size: 22px;
    line-height: 1;
    flex: 1 0 auto;
  }

  .sudsPillMessageText {
    margin-right: 10px;
    padding: 0 15px;
    flex: 1 1 auto;
  }

  .sudsPillActionLink {
    border-color: $gray1;
    margin: 5px 0;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  &.sudsPill_warning {

    .sudsPillMessage {
      border-color: $warning-suds;
      background-color: $warning-suds;
      color: $white;
    }

    .sudsPillIcon {

      color: $white;
    }

    .sudsPillActionLink {
      border-color: $warning-suds;
    }
  }

  &.sudsPill_primary {

    .sudsPillMessage {
      background-color: $primary-color-two;
      color: $primary-color-two-text;
      border-color: $primary-color-two;
    }

    .sudsPillIcon {
      
      color: $white;
    }

    a {
      color: $white;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }


    .sudsPillActionLink {
      border-color: $warning-suds;
      color: $white;
    }
  }

  &.sudsPill_success {

    .sudsPillMessage {
      background-color: $primary-highlight-hover;
      color: $primary-highlight-hover-text;
    }

    .sudsPillIcon {
      color: $white;
      
    }

    a {
      color: $white;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }


    .sudsPillActionLink {
      border-color: $primary-highlight-hover;
      color: $white;
    }
  }


}

.horz {
    flex-direction: row;
}

.vert {
    flex-direction: column;
}


