<!-- proxy config has moved to webapp\src\main\resources\proxy.config -->
<?xml version="1.0" encoding="utf-8" ?>
<!--<ProxyConfig allowedReferers="*"
                logFile=""
                logLevel=""
                mustMatch="true">
    <serverUrls>
        <serverUrl url="http://166.2.126.55/" matchAll="true"/>
        <serverUrl url="http://www.geocommunicator.gov" matchAll="true"/>
        <serverUrl url="http://services.nationalmap.gov" matchAll="true"/>
        <serverUrl url="https://apps.fs.usda.gov" matchAll="true"/>
    </serverUrls>
</ProxyConfig>-->

<!-- See https://github.com/Esri/resource-proxy for more information -->
