#renderView.ncguCheck {
  .questions {
    &.ncgu {
      .question {
        text-align: center;
      }
    }
  }

  .ncguResults {
    display: none;
    border-radius: 20px;
    background-image: none;
    border: 0;
    margin: 0 1.5em 0px .5em;
  }

  .screenContent {
    padding-bottom: 1em;
  }

  .screenSections {
    margin-bottom: 0;
  }
}