.specialUseCodeSelectors {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
  /*div {
    float: left;
    margin-right: 1em;
    //max-width: 50%;
    width: 100%;
  }*/

  .suds-danger {
    margin-top: 2em;
  }
  .addSpecialUseCodeBtn {
    margin: 1.75em;
  }
}

