.nrm-shuttle-available,
.nrm-shuttle-selected {
    display: inline-block;
}
.nrm-shuttle-available {
    margin-right: 10px;
}
.nrm-shuttle select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.nrm-shuttle-button {
    display: block;
    width: 100%;
    border-top: 0;
    border-radius: 0;
}
.nrm-shuttle-button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}