.table-actions {
  border: 1px solid transparent;
  border-color: #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.selection-count {
    padding-left: 10px;
    padding-right: 10px;
}

.nrm-loading-container {
    position: relative;
    overflow: hidden !important;
}

body>.nrm-loading-backdrop {
    z-index: 1050;
}
body>.nrm-loading-indicator {
    z-index: 1060;
}

.nrm-loading-backdrop {
    position: absolute;
    z-index: 950;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: #ddd;
}

.nrm-loading-indicator {
    z-index: 960;
    display: none;
    position: absolute;
    background-image: url('../img/nrm-ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
}

.nrm-loading-indicator.nrm-loading-indicator-sm {
  background-image: url('../img/nrm-spinner.gif');
  height: 16px;
  width: 16px;
}

.nrm-loading-indicator.nrm-loading-indicator-lg {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.nrm-loading-indicator:focus {
  border: 1px solid #66afe9;
  outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.nrm-loading .nrm-loading-backdrop,
.nrm-loading .nrm-loading-indicator {
    display: block;
}

div.ajax-progress {
  position: fixed;
  /* show on startup while scripts are loading, then hide during startup */
  /*display: none;*/
  z-index: 1060;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  background-image: url('../img/nrm-ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  transform: translate(-50%, -50%);
}

label {
    font-weight: normal;
}

label.nrm-required-field {
  font-weight:bold; 
}

label.nrm-required-field:before,
th.nrm-required-field:before {
  content:"*";
  font-size: 160%;
  line-height: 60%;
  font-weight:bold; 
  color:red;
}

label.nrm-business-required-field {
  font-weight:bold; 
}

label.nrm-business-required-field:before,
th.nrm-business-required-field:before {
  content:"^ ";
  font-weight:bold; 
  color:red;
}

#skip-link {
  width: 150px;
  margin: 0 auto;
}

li.nrm-map-tool-toggle > a:before {
    content:"\26AA\a0 ";
}
li.nrm-map-tool-active > a:before {
    content:"\26AB\a0 ";
}
/*
li.nrm-map-tool-active > a {
    font-weight:bold;
}
*/

/* This is used for highlighting the grid component rows during feature selection */
.selected {
    background-color: #48D1CC;
}

/* DataTables styles */

table.dataTable thead tr,
table.dataTable tbody tr{
    background-color: #F0F6F9;
}

table.table tr.even.row_selected td {
  background-color: #B0BED9;
}

table.table tr.odd.row_selected td {
  background-color: #9FAFD1;
}

table.table tr.row_selected td > a,
table.table tr.row_selected td .btn-link {
  color: #1c4161;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.stripe tbody tr.odd > .sorting_2{
  background-color: #f3f3f3;
}
table.dataTable.display tbody tr.odd > .sorting_3,
table.dataTable.stripe tbody tr.odd > .sorting_3 {
  background-color: #f5f5f5;
}
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.stripe tbody tr.even > .sorting_1 {
  background-color: #e5eff5;
}
table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.stripe tbody tr.even > .sorting_2 {
  background-color: #e7f1f5;
}
table.dataTable.display tbody tr.even > .sorting_3,
table.dataTable.stripe tbody tr.even > .sorting_3 {
  background-color: #ebf3f7;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display tbody tr.even:hover > .sorting_1,
table.dataTable.stripe tbody tr:hover > .sorting_1,
table.dataTable.stripe tbody tr.odd:hover > .sorting_1,
table.dataTable.stripe tbody tr.even:hover > .sorting_1 {
  background-color: #eaeaea;
}
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr.odd:hover > .sorting_2,
table.dataTable.display tbody tr.even:hover > .sorting_2,
table.dataTable.stripe tbody tr:hover > .sorting_2,
table.dataTable.stripe tbody tr.odd:hover > .sorting_2,
table.dataTable.stripe tbody tr.even:hover > .sorting_2 {
  background-color: #ebebeb;
}
table.dataTable.display tbody tr:hover > .sorting_3,
table.dataTable.display tbody tr.odd:hover > .sorting_3,
table.dataTable.display tbody tr.even:hover > .sorting_3,
table.dataTable.stripe tbody tr:hover > .sorting_3,
table.dataTable.stripe tbody tr.odd:hover > .sorting_3,
table.dataTable.stripe tbody tr.even:hover > .sorting_3 {
  background-color: #eeeeee;
}

table.dataTable.display tr.even.row_selected > td.sorting_1,
table.dataTable.display tr.even.row_selected > td.sorting_2,
table.dataTable.display tr.even.row_selected > td.sorting_3,
table.dataTable.display tr.even.row_selected:hover > td.sorting_1,
table.dataTable.display tr.even.row_selected:hover > td.sorting_2,
table.dataTable.display tr.even.row_selected:hover > td.sorting_3,
table.dataTable.stripe tr.even.row_selected > td.sorting_1,
table.dataTable.stripe tr.even.row_selected > td.sorting_2,
table.dataTable.stripe tr.even.row_selected > td.sorting_3,
table.dataTable.stripe tr.even.row_selected:hover > td.sorting_1,
table.dataTable.stripe tr.even.row_selected:hover > td.sorting_2,
table.dataTable.stripe tr.even.row_selected:hover > td.sorting_3  {
  background-color: #c1cce1;
}

table.dataTable.display tr.odd.row_selected > td.sorting_1,
table.dataTable.display tr.odd.row_selected > td.sorting_2,
table.dataTable.display tr.odd.row_selected > td.sorting_3,
table.dataTable.display tr.odd.row_selected:hover > td.sorting_1,
table.dataTable.display tr.odd.row_selected:hover > td.sorting_2,
table.dataTable.display tr.odd.row_selected:hover > td.sorting_3,
table.dataTable.stripe tr.odd.row_selected > td.sorting_1,
table.dataTable.stripe tr.odd.row_selected > td.sorting_2,
table.dataTable.stripe tr.odd.row_selected > td.sorting_3,
table.dataTable.stripe tr.odd.row_selected:hover > td.sorting_1,
table.dataTable.stripe tr.odd.row_selected:hover > td.sorting_2,
table.dataTable.stripe tr.odd.row_selected:hover > td.sorting_3  {
  background-color: #b0bdd9;
}

/* focus outline for sortable column headers and focusable grid cells */
table.dataTable th:focus,
table.dataTable td:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

/* fix for form-control in a DataTable. */
table.dataTable td .form-group .form-control { 
    width: 100%;
}

table.dataTable td .input-group .input-group-btn,
.form-inline table.dataTable td .input-group .input-group-addon {
    width: 1%;
}

table.dataTable td .form-group,
table.dataTable td .nrm-input-group-container { 
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
}

/* wrap the <table> element in a .nrm-dataTables-scroll AFTER applying the NrmDataTable plugin to use this style */
.nrm-dataTables-scroll {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
    -webkit-overflow-scrolling: touch;
  }

/* DataTables 1.10 */

table.dataTable.no-footer {
  border-bottom: 1px solid #ddd;
}

table.dataTable {
    border-collapse: collapse;
}

.nrm-dataTables-scroll > table.dataTable {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  

table.dataTable th.nrm-cell-rowselect,
table.dataTable td.nrm-cell-rowselect,
table.dataTable td.nrm-cell-rowactions {
    text-align: center;
    vertical-align: middle;
}

table.dataTable tbody td.nrm-cell-rowactions,
table.dataTable.compact tbody td.nrm-cell-rowactions {
    padding: 0;
}

/* Bootstrap 3 */

body { 
    padding-top: 70px; 
    padding-bottom: 20px;
}
hr {
    border-color: gray;
    margin: 5px 0px;
}
#nrm-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
}

/* Menu */
.nrm-static-dropdown-menu {
    position:static;
    display:block;
    margin-bottom: 5px;
}


/* Collapsing Panel */
.panel-heading {
    position: relative;
}
.nrm-panel-collapse-button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    border-radius: 0 5px 0 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}
.nrm-panel-collapse-button.collapsed {
    border-radius: 0 5px 5px 0;
}

/* bootstrap compatibility fix for number-polyfill.js */
input[type="number"] {
    display: inline-block;
}

/* bootstrap compatibility fix for select2.js */
.select2 {
    width: 100%;
}
.select2-choices {
    border-radius: 5px;
}
.select2-dropdown-open .select2-choices {
    border-radius: 5px 5px 0 0;
}
.select2-drop-above.select2-dropdown-open .select2-choices {
    border-radius: 0 0 5px 5px;
}

/* 508 compliance 4.5:1 color ratio */
.select2-default {
   color: #737373 !important;
}

.select2-dropdown-open .select2-choice,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    background-color: #fff;
    background-image: none;
}

/* move close button to right side of multiselect choices */
.select2-container-multi .select2-search-choice-close {
    position: absolute;
    right: 0;
    top: 2px;
    left: auto;
}
.select2-container-multi .select2-search-choice div {
    margin-left: -12px;
    margin-right: 12px;
}

/* remove indentation for options in an optgroup used as column headers */
.nrm-lov-header .select2-results-dept-1>.select2-result-label>.row {
    margin-left: -28px;
}

/* loading indicator */
.select2-drop.nrm-loading .select2-results:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: url('../img/nrm-spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ddd;
}


/* for consistency, add bottom border to Select2 autowidth dropdowns if dropdown appears above the field */
.select2-drop.select2-drop-auto-width.select2-drop-above {
    border-bottom: 1px solid #aaa;
}

/* select 2 with expanded dropdown */
.select2-bigdrop {
    width: 500px !important;
}
.select2-bigdrop.select2-drop-active {
    border-top: 1px solid rgb(88, 151, 251);
    padding-top: 5px;
}
.select2-bigdrop.select2-drop-active.select2-drop-above {
    border-bottom: 1px solid rgb(88, 151, 251);
    padding-top: 0;
}

/* Invalid form fields */
.ui-state-error,
input:invalid {
    border: 1px solid red;
}

input:focus:invalid,
.ui-state-error:focus {
    border: 1px solid red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,0,0,0.4);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,0,0,0.4);
   /* box-shadow: 0 0 8px rgba(255,0,0,0.4);*/
}

/* first level list items are not bulleted */
ul.nrm-error-list {
    padding-left:0;
}
.nrm-error-list > li {
    list-style-type: none;
}

/* display nested errors as a bulleted list */
.nrm-error-list ul.nrm-error-list {
    padding-left:40px;
}
.nrm-error-list .nrm-error-list > li {
    list-style-type: disc;
}

/* NRM standard color scheme */

/* Override the gradient in bootstrap-theme (TODO: do we really need this?)
  Note that the remainder of the NRM navbar color scheme that was previously included here is now baked into our 
  customized Bootstrap build.  See nrmcore/bootstrap/config.json
*/
.navbar .navbar-default, .navbar-collapse, .navbar-header {
    background-color: #304368;
}

/* Fix messed-up right margin in Bootstrap 3.3.6*/
@media (min-width: 768px) {
    .navbar-collapse .navbar-right:last-child {
        margin-right: 0;
    }
}

/* Tabs */
.nav-tabs > li > a {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.nav-tabs > li > a:hover {
    border-color: #ddd;
}

.nav-tabs > li.disabled > a {
    color: #666
}

.tab-pane {
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 15px;
}

/* TODO: why do we need the .container selector here? This could be a bug. */
.container .nav-tabs > li.active > a,
.container .nav-tabs > li.active > a:hover,
.container .nav-tabs > li.active > a:focus {
    color: #FFFFFF;
    background-color: #12203d;
}

.container .nav-tabs > li > a:hover,
.container .nav-tabs > li > a:focus {
    color: #000000;
    background-color: #dbdbdb;
}

.container .nav-tabs > li.disabled > a:hover,
.container .nav-tabs > li.disabled > a:focus {
    color: #666;
    background-color: #f5f5f5;
}

.nrm-tabs-container {
    margin-bottom: 15px;
}

div.form-compressed .nrm-tabs-container {
    margin-bottom: 6px;
}

.nrm-tabs-container .tab-pane,
.nrm-edit-panel-body {
    padding-bottom: 0;
}

.tab-pane.nrm-loading,
.nrm-collapse.nrm-loading {
    min-height: 44px;
}

table.nrm-loading {
    min-height: 44px;
}

div.form-compressed .nrm-tabs-container .tab-pane,
div.form-compressed .nrm-edit-panel-body {
    padding-top: 6px;
}

.nrm-collapse-btn {
   margin-bottom: 15px;
}

div.form-compressed .nrm-collapse-btn {
    margin-bottom: 6px;
}

.nrm-collapse {
    margin-left: 15px;
    margin-right: 15px;
}

.nrm-collapse.form-inline {
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.form-inline .nrm-inline-padding.form-control {
    margin-right: 10px;
}

.nrm-tab-error {
    color: #D2322D;
}

.nav li.active .nrm-tab-error,
.panel-title>a[aria-expanded="true"] .nrm-tab-error,
.btn[aria-expanded="true"] .nrm-tab-error {
    display: none;
}


.nrm-contextmenu {
  position: absolute;
}

/* nrm-titlebtn helper class is for embedding a button in Bootstrap accordion header */
h3+.nrm-titlebtn {
    margin-top:-5px;
    margin-bottom:-5px;
}

h4+.nrm-titlebtn {
    margin-top:-4px;
    margin-bottom:-5px;
}

/* dropdown-submenu can be added to dropdown menu <li> with nested <ul> for submenu 
   - requires NrmContextMenu plugin for full functionality */
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu>a:focus:after{
    border-left-color:#ffffff;
}
.dropdown-submenu>a:hover:after{
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left{
    float:none !important;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:auto;
    right:100%; 
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-submenu.pull-left>a:after{
    display:block;
    content:" ";
    float:left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 5px 5px 0;
    border-right-color:#cccccc;
    margin-top:5px;
    margin-left:-10px;
}
.dropdown-submenu.pull-left>a:focus:after,
.dropdown-submenu.pull-left>a:hover:after{
    border-right-color:#ffffff;
}
.dropup .dropdown-submenu .dropdown-menu {
    bottom: auto;
}

/* Wrap a bootstrap form in the "form-compress" class to reduce unnecessary default whitespace */

div.form-compressed {
    font-size: 12px;
}

div.form-compressed textarea.form-control {
  font-size: 12px;
  line-height: 1.25;
}

div.form-compressed input.form-control,
div.form-compressed .dataTables_length select, 
div.form-compressed .dataTables_filter input {
  height: 20px;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.625;
  border-radius: 3px;
  /*margin-bottom: 6px;*/
}

div.form-compressed .form-horizontal .control-label {
    padding-right: 0px;
}

div.form-compressed .pagination > li > a, 
div.form-compressed .pagination > li > span {
  padding: 1px 5px;
}

/*
div.form-compressed .nav.nav-tabs {
  margin-top: 15px;
  margin-bottom: 15px;
}

div.form-compressed .nav.nav-tabs > li > a {
  line-height: 16px;  
}
*/

/*
div.form-compressed select {
  margin-bottom: 6px;
}*/

/*div.form-compressed table.table th {
  font-family: sans-serif;
  font-size: 11px;
}

div.form-compressed table.table td {
  font-size: 11px;
}*/

div.form-compressed .form-group,
div.form-compressed .nrm-table-edit-container,
div.form-compressed .nrm-input-group-container {
    margin-bottom: 6px;
}

div.form-compressed .form-control-static {
    min-height: 30px;
}

div.form-compressed .select2-container.form-control {
  height: 20px;
  font-size: 12px;
}

div.form-compressed .form-control > .select2-choice {
    height: 18px;
    padding-top: 0;
}

div.form-compressed .form-control > .select2-choice .select2-arrow b {
    background-position: 0 -3px;
}

div.form-compressed .select2-container-multi.select2-container.form-control {
  height: auto;
}

div.form-compressed .select2-container-multi.form-control .select2-choices .select2-search-field input {
    padding-top: 0;
    padding-bottom: 0;
    height: 16px;
    font-size: 12px;
}

div.form-compressed .form-control > .select2-choices {
    min-height: 18px;
}

div.form-compressed .select2-container-multi.form-control .select2-choices .select2-search-choice {
    margin: 0 0 0 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.form-compressed .select2-container-multi .select2-search-choice-close {
    top: 1px;
}

div.form-compressed .select2-container .select2-choice abbr {
    top: 3px;
}

div.form-compressed .form-horizontal .control-label, 
div.form-compressed .form-horizontal .radio, 
div.form-compressed .form-horizontal .checkbox, 
div.form-compressed .form-horizontal .radio-inline, 
div.form-compressed .form-horizontal .checkbox-inline,
div.form-compressed .dataTables_wrapper .dataTables_info {
  padding-top: 2px;
}

div.form-compressed .radio input[type="radio"], 
div.form-compressed .radio-inline input[type="radio"], 
div.form-compressed .checkbox input[type="checkbox"], 
div.form-compressed .checkbox-inline input[type="checkbox"] {
    margin-top:2px;
}

div.form-compressed .form-horizontal .radio, 
div.form-compressed .form-horizontal .checkbox {
    min-height: 20px;
}

div.form-compressed .form-horizontal .radio-inline>label, 
div.form-compressed .form-horizontal .checkbox-inline>label {
    margin-bottom:2px;
}

div.form-compressed table.dataTable.compact th.nrm-cell-rowselect, 
div.form-compressed table.dataTable.compact td.nrm-cell-rowselect,
div.form-compressed table.dataTable.compact tbody td.nrm-cell-edit {
    padding-top:0;
    padding-bottom:0;
}

div.form-compressed table.dataTable.compact td.nrm-cell-edit .form-control,
.form-compressed .dataTables_length > label, 
.form-compressed .dataTables_filter > label {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.form-compressed .input-group-btn>.btn,
div.form-compressed .input-group-addon {
    height: 20px;
    font-size: 12px;
    /*margin-bottom: 6px;*/
    padding: 0 5px;
}

/* styling for the NRM tree view */

.jstree-themeicon.glyphicon.glyphicon-exclamation-sign {
    color: red;
}

.jstree-default .jstree-clicked:focus,
.jstree-default .jstree-hovered:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.jstree-default .jstree-clicked.nrmtree-clicked:focus {
    outline: 0;
}

#nrmTree-default-accordion-panel {
    overflow:auto;
    max-height:400px;
}

/* end NRM tree view */

/* NRM layout and nav bar */

.badge-errors,
.panel-default > .panel-heading .badge.badge-errors {
  background-color: #D2322D;
}

/* removes unwanted padding when hidden class is combined with responsive hidden class */
.navbar-text.hidden {
    display: none!important;
}

.ui-layout-center.nopadding {
    padding: 0px;
    border: 0px;
}

.ui-layout-north.nopadding {
    padding: 1px;
}

/* 
layout toggler arrows 
This is fancy HTML to generate the arrows just from borders.
http://stackoverflow.com/questions/14404923/how-is-the-caret-on-twitter-bootstrap-constructed
*/
.ui-layout-toggler .ui-custom {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 5px solid transparent;
}
.ui-layout-toggler-north-closed .ui-custom, 
.ui-layout-toggler-south-open .ui-custom {
        border-top-color: #aaa; /* bbb ddd */
        top: 0px;
        left: 19px;				
}
.ui-layout-toggler-south-closed .ui-custom, 
.ui-layout-toggler-north-open .ui-custom {
        border-bottom-color: #aaa;
        top: -5px;
        left: 19px;	
}
.ui-layout-toggler-west-closed .ui-custom, 
.ui-layout-toggler-east-open .ui-custom {
        border-left-color: #aaa;
        top: 19px;
        left: 1px;			
}
.ui-layout-toggler-east-closed .ui-custom, 
.ui-layout-toggler-west-open .ui-custom {
        border-right-color: #aaa;
        top: 19px;
        left: -5px;
}

.ui-layout-toggler:focus , /* need when NOT resizable */
.ui-layout-resizer .ui-layout-toggler:focus { /* need specificity when IS resizable */
        background-color: #FC6;
        opacity: 1.00;
        filter:  alpha(opacity=100);
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
}

/* resizer focused */
/*.ui-layout-resizer-open:focus {	
        background: #C4E1A4;
        outline: thin dotted;
}*/

.smallchevroncolor {
    color: #737373;
    font-size: 12px;
}

/* end NRM layout */

/* select2 plugin in a Bootstrap .form-control container */

.form-control > .select2-choice {
    height: 32px;
    margin: -6px -12px;
    padding: 6px 12px;
    border: none;
    line-height: 1.428571429;
}

.form-control.select2-container-active > .select2-choice,
.form-control.select2-container-active > .select2-choices {
    border: none;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control.input-sm > .select2-choice {
    height: 28px;
    margin: -5px -10px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-control.input-sm > .select2-choice .select2-arrow {
    border-radius: 0 3px 3px 0;
}

.form-control.select2-container-active,
.form-control.select2-container-multi.select2-container-active {
  border-color: #66afe9;
  outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control.select2-container-multi {
    border: 1px solid #cccccc;
    padding: 0px;
    height: auto;
}

.form-control > .select2-choices {
    min-height: 32px;
    border: none;
    border-radius: 3px;
}
.form-control.input-sm > .select2-choices {
    min-height: 28px;
}

.form-control.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding-left: 18px;
}

/* select2 invalid form fields */

.form-control.select2-container.ui-state-error {
    border: 1px solid red;
}

.form-control.select2-container-active.ui-state-error,
.form-control.select2-container-multi.select2-container-active.ui-state-error {
    border: 1px solid red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,0,0,0.4);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,0,0,0.4);
}

/* end select2 bootstrap form-control fix */

/* BEGIN add dropdown arrow in Select2 multiple */
/*
    This is CSS to support the changes for
    Artifact artf60928 : Select2 multiselect dropdown arrow
*/
.select2-container-multi .select2-choices {
  position: relative;
  padding-right: 15px;
}

.select2-container-multi .select2-choices:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 15px; /* top: 50%; */
  right: 4px;
  height: 0;
  width: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 2px;
}

/* This commented-out section would flip the arrow to point up when the dropdown is open */

/*.select2-container-multi.select2-dropdown-open .select2-choices:after {
  border-top: 0;
  border-bottom: 4px solid;
}*/

div.form-compressed .select2-container-multi .select2-choices:after {
    top: 9px;
}
/* END add dropdown arrow in Select2 multiple */

.datepicker-days tr {
    background-color: #ffffff;
}

.datepicker.datepicker-dropdown {
    z-index: 1060;
}

/* 508: add focus indicator */
.navbar-default .navbar-collapse .navbar-nav > li > a:focus {
     outline: thin dotted;
     outline: 5px auto -webkit-focus-ring-color;
}

/* 508: add focus indicator */
.btn:focus,
.btn-group>.btn:focus, 
.btn-group-vertical>.btn:focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    z-index: 3;
}

.input-group-btn>.btn:focus {
    z-index: 4;
}

.input-group .ui-state-error {
    z-index: 3;
}

/* Fix missing focus outline on right edge */
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
    z-index: 2;
}

/* Backwards compatibility with Bootstrap 3.0.0: Prevent scrollbars */
.container {
    max-width: 100%;
}

/* Backwards compatibility with Bootstrap 3.0.0: Prevent wrapping */
.navbar-header .navbar-text {
    float: left;
}

/* 508: adjust contrast */
.select2-results .select2-highlighted {
    background: #3276b1;
}

/* checkbox-pad-* classes improve the vertical alignment of checkboxes in the Bootstrap grid system when the checkbox
   is on the same row as another type of form field:
   - use checkbox-pad-xs if checkbox shares a row at all window sizes.
   - use checkbox-pad-sm if checkbox shares a row at sm, md, lg sizes but is on its own row at xs size
   - use checkbox-pad-md if checkbox shares a row at md and lg sizes but is on its own row at xs and sm sizes
   - use checkbox-pad-lg if checkbox shares a row at lg size but is on its own row at xs, sm, md sizes
*/

div.form-compressed .checkbox-pad-xs,
div.form-compressed .checkbox-pad-sm,
div.form-compressed .checkbox-pad-md,
div.form-compressed .checkbox-pad-lg {
    margin-bottom: 6px;
}

.checkbox-pad-xs,
.checkbox-pad-sm,
.checkbox-pad-md,
.checkbox-pad-lg,
.form-horizontal .checkbox-pad-xs,
.form-horizontal .checkbox-pad-sm,
.form-horizontal .checkbox-pad-md,
.form-horizontal .checkbox-pad-lg {
    margin-bottom: 15px;
}

.checkbox-pad-xs {
    margin-top: 30px;
}
div.form-compressed .checkbox-pad-xs {
    margin-top: 22px;
}
div.form-compressed .form-horizontal .checkbox-pad-xs {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .checkbox-pad-sm {
        margin-top: 30px;
    }
    div.form-compressed .checkbox-pad-sm {
        margin-top: 22px;
    }
    div.form-compressed .form-horizontal .checkbox-pad-sm {
        margin-top: 0px;
    }
}

@media (min-width: 992px) {
    .checkbox-pad-md {
        margin-top: 30px;
    }
    div.form-compressed .checkbox-pad-md {
        margin-top: 22px;
    }
    div.form-compressed .form-horizontal .checkbox-pad-md {
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {
    .checkbox-pad-lg {
        margin-top: 30px;
    }
    div.form-compressed .checkbox-pad-lg {
        margin-top: 22px;
    }
    div.form-compressed .form-horizontal .checkbox-pad-lg {
        margin-top: 0px;
    }
}

/* end checkbox-pad-* classes */

.nrm-westpane-container {
    height: 100%;
}

.nrm-table-edit-container,.nrm-input-group-container {
    margin-bottom: 15px;
}

.form-horizontal .row .form-group>.form-control-static {
    margin-left: 15px;
}

/*.nrm-edit-form {
    padding-top: 10px;
}*/

/*
.nrm-edit-form-actionsbar {
    padding-top: 5px;
}*/

.nrm-edit-form.form-inline .nrm-edit-form-actionsbar {
    padding-top: 5px;
}

.nrm-editstate {
    margin-left:10px;
}

.nrm-error-details {
    overflow-x: hidden;
    max-height: 700px;
}

@media (max-height: 950px) {
    .nrm-error-details {
        max-height: 400px;
    }
}

@media (max-height: 650px) {
.nrm-error-details {
    max-height: 200px;
}
}

@media (max-height: 450px) {
.nrm-error-details {
    max-height: 100px;
}
}

.main-content-focused {
   outline: thin dotted #333;
   -webkit-box-shadow:inset 0 0 4px #bbb;
   box-shadow:inset 0 0 4px #bbb;
   /*outline: 5px auto -webkit-focus-ring-color;*/
}

input[readonly]::-webkit-clear-button,
input[readonly]::-webkit-inner-spin-button,
input[readonly]::-webkit-outer-spin-button,
input[readonly]::-webkit-calendar-picker-indicator {
    display:none;
}

.ui-pnotify-closer {
    opacity: 0.6;
}

.ui-pnotify-closer:hover,
.ui-pnotify-closer:focus,
.ui-pnotify-container:focus .ui-pnotify-closer {
    opacity: 1;
}

.ui-pnotify-closer:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.nrm-ui-pnotify-collapser {
    float: right;
    margin-left: .2em;
    cursor: pointer; 
    visibility: visible;
}

/* for bootstrap-wysiwyg editor */
.nrm-richtext-toolbar-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 8px;
  margin-bottom: 3px;
  *margin-left: .3em;
  font-size: 14px;
  border: 1px solid #bbbbbb;
}

.nrm-rich-text {
  border: 1px solid;
  border-color: #ccc;
  margin-top: 3px; 
  margin-bottom: 3px; 
  overflow: hidden;
}

.NRMtextArea.disabled {
  border: 1px solid #ccc;
}

.nrm-rich-text.disabled, .NRMtextArea.disabled {
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-color: #eee;
  border-collapse: collapse;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
}
.nrm-richtext-editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid #ccc; 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
.nrm-richtext-editor.disabled {
  background-color: #eee;
}

#nrm-richtext-voice-btn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-header .nrm-modal-help{
    margin-top: -1px;
    margin-right: 8px;
}

/* It's necessary to wrap the .nrm-modal-help and close icon in this class,
   otherwise the float right will reverse the tab order */
.nrm-modal-icon-container {
  float: right;
}

.nrm-modal-help {
  font-size: 19px;
  line-height: 1;
  opacity: 0.9;
}
.nrm-modal-help:hover,
.nrm-modal-help:focus {
  cursor: pointer;
  opacity: 1.0;
}
a.nrm-modal-help {
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.nrm-progress {
  display: inline-block; 
  width: 100%; 
  background-image: none; 
  border-radius: 0;
  max-height: 20px;
  overflow: hidden;
  height: 20px;
  /*margin-bottom: 20px;*/
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nrm-progress-bar {
  white-space:nowrap;
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  background-color: #3276b1;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* Fix for Bootstrap 3.3.6 caret in IE */

.caret {
    border-top: 4px solid;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid;
}

/* END fix for Bootstrap 3.3.6 caret in IE */

button.nrm-progress-close-button {
    position: absolute;
    right:0px;
    margin-right:20px;
    z-order: 100;
    opacity: .7;
    filter: alpha(opacity=70);
}

button.nrm-progress-close-button:hover,
button.nrm-progress-close-button:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: .9;
  filter: alpha(opacity=90);
}

.ui-draggable-handle {
    cursor: pointer;
}

.ui-draggable-dragging {
    cursor: pointer;
    opacity: 0.85;
}

/* BEGIN modal LOV search form */
.modal-body .nrm-searchresults-form {
    margin-top: 15px;
}

.nrm-lov-selected-container {
    margin-top: 15px;
    margin-bottom: -15px;
}

/* END modal LOV search form */

/* The .row-header class is used for alignment of form control on header row, see editForm.handlebars.
   Note: assumes form is using standard Bootstrap h3 styling.
*/

@media (min-width: 992px) {
    .row-header .form-horizontal {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
   div.form-compressed .row-header .form-horizontal {
    margin-top: 30px;
   }
}