<div id="nrm-layout">
{{! Layout with panes }}
  <div class="ui-layout-west">
  </div>
{{#if mapPane}}<div class="ui-layout-center nopadding"> 
    <div class="ui-layout-center"></div>
  </div>
{{else}}<div class="ui-layout-center"></div>{{/if}}
  <div class="ui-layout-south xnav-primary">
  </div>
  <div class="ui-layout-east">
  </div>
</div>
