<p><strong>If you proceed, you will be logged out of the eAuthentication system.  
This may log out of other eAuthenticated applications running in this browser window.</strong></p>
<p>For maximum security, we recommend closing the browser window after logging out.</p>