<div id="map-identify-div">
    <div id="map-identify-header">
        {{#unless hideClose}}
        <button id="mapIdentifyClose" class="close" title="Close" aria-hidden="true" aria-label="Close" type="button" data-dismiss="modal">×</button>
        {{/unless}}
        <!--<h4>Identify Results</h4>-->
    </div>
    <h4><div id="map-identify-info-div">
        <p>Click on map to view information about a location.</p>
    </div></h4>
    <div id="map-identify-results-div">
    </div>
<!--    <textarea id="nrmClipboard"></textarea>-->
</div>