<div id="map-measure-div" class="claro">
    <div id="map-measure-header">
        {{#unless hideClose}}
        <button id="mapMeasureClose" class="close" title="Close" aria-hidden="true" aria-label="Close" type="button" data-dismiss="modal">×</button>
        {{/unless}}
    </div>
    <p></p>
    <h4><div id="map-measure-info-div">
        <p>Select a measurement tool then click on the map.</p>
    </div></h4>
    <div id="map-measure-results-div">
<!--                    <div id="titlePane" data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Measure', closable:false, open:true"> -->
<!--                        <div id="map-measure-info-div"></div>-->
                        <div id="measurementDiv"></div>
<!--                        {{#if snapping}}
                        <span style="font-size:smaller;padding:5px 5px;">Press <b>CTRL</b> to enable snapping.</span>
                        {{/if}}-->
                    </div>
    </div>
</div>


