<p>Your session has expired.</p>
<p>Press the <strong>Restore Session</strong> button below if you want to continue. 
    This will open the login page in a new window or tab.  
    After completing the login, you may continue working in the application.
</p>