{{#if userInfo}}
{{#with userInfo}}
<li class="dropdown">
  <a id="userMenu" href="#" role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown">
    {{userName}}<b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="userMenu">
    {{#if ../enableSettings}}
<!--
    <li id="settings">
        <a href="#settings" role="menuitem" tabindex="-1" class="nrm-route-action">Settings</a>
    </li>
-->
    <li id="savesettings">
        <a href="#saveSettings" role="menuitem" tabindex="-1" class="nrm-route-action">Save Settings</a>
    </li>
    <li id="restoresettings">
        <a href="#restoreSettings" role="menuitem" tabindex="-1" class="nrm-route-action">Restore Settings</a>
    </li>
    {{/if}}
    <li id="logout">
        <a href="#logout" role="menuitem" tabindex="-1" class="nrm-route-action">Log Out</a>
    </li>
  </ul>
</li>
{{/with}}
{{/if}}